/* Color properties */
.light-blue {
    color: rgb(50, 175, 216);
}

.bg-lightblue {
    background-color: rgb(50, 175, 216);
}

.bg-lightgray {
    background-color: rgb(221, 221, 221);
}

.white {
    color: white;
}

.color-animal {
    color: rgb(11, 36, 251);
}

.color-vegetable {
    color: rgb(253, 164, 40);
}

.color-user {
    color: rgb(127, 15, 126);
}

.color-company {
    color: rgb(50, 200, 50);
}

/* Size properties */

/* header styling */
header .navbar{
    font-family: 'Bangers', cursive;
    padding-bottom: 0;
}

/*  Main styling */
main {
    min-height: calc(100vh - 107px);
}

.card {
    box-shadow: 2px 2px #888888;
}

.fas, .fab {
    font-size: 40px;
}
